#Glitch Production Environment
.glitchdotcom.json
.node-gyp
node_modules

#Project Files
.project

#Installation Logs
.cpanm
blib
perl5
log
log/*

#Test Tools and Artifacts
web_*.jpg
bin/phantomjs

#API Container - Cache Directory
cache
cache/*

#Local Docker-Compose Configuration
docker-compose.yml
